* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: block;
  position: relative;
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  transform: translateY(30%);

  .container {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    left: -10%;
    position: relative;
    .quiz {
      margin-bottom: 15px;
    }
    .options {
      display: grid;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      label {
        padding-top: 5px;
        min-width: 100px;
        height: 30px;
        text-align: left;
        background: #d7d7d7;
        margin-bottom: 10px;
        border-radius: 10px;
      }
      input {
        margin: 0 10px;
      }
    }
    #timer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -40px;
      margin: 0 auto;
      max-width: 80px;
      border-radius: 50px;
      background: #e5e5e5;
      &.active {
        padding: 15px;
        max-width: 250px;
        background: #fa8e8e;
      }
    }
  }
  button {
    padding: 10px 25px;
    background-color: palegoldenrod;
    cursor: pointer;
    display: block;
    margin: 0 auto 10px;
    border-radius: 10px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .info {
    margin-bottom: 15px;
  }
  &.start {
    .container {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
    #start,
    .title,
    .info {
      display: none;
    }
  }
}
